<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WorkBook 2.1</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h2>IMDB: Top 5 Episodes</h2>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Episode</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Breaking Bad</td>
          <td>Ozymandias</td>
          <td>10.0</td>
        </tr>
        <tr>
          <td>Attack on Titan</td>
          <td>Hero</td>
          <td>9.9</td>
        </tr>
        <tr>
          <td>Attack on Titan</td>
          <td>Perfect Game</td>
          <td>9.9</td>
        </tr>
        <tr>
          <td>Star Wars: The Clone Wars</td>
          <td>Victory and Death</td>
          <td>9.9</td>
        </tr>
        <tr>
          <th>Mr. Robot</th>
          <th>407 Proxy Authentication Required</th>
          <td>9.9</td>
        </tr>

        <tr></tr>
      </tbody>
    </table>
  </body>
</html>
